@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* Primary Colors */
    --color-moderate-violet: hsl(263, 55%, 52%);
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-opaque: hsla(0, 0%, 100%, 0.5);

    /* Font */
    --ff-barlow: 'Barlow Semi Condensed', sans-serif;

    /* Font Sizes */
    --fs-smaller: 13px;

    /* Neutral Colors */
    --color-light-gray: hsl(0, 0%, 81%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);

    /* Note for text colors: */

    /* 1. "Verified Graduate" has the same color as the person's name with 50% opacity */
    /* 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: var(--ff-barlow);
    font-size: var(--fs-smaller);
}

body { 
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: var(--color-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    width: min(100%, 45rem);
    height: min-content;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 50%;
}

.card {
    display: grid;
    grid-gap: 1em;
    padding: 2em;
    background-color: var(--color-moderate-violet);
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.profile-name {
    color: var(--color-white);
}

.profile-verified {
    color: var(--color-white-opaque);
    font-size: .8rem;
}

.review {
    color: var(--color-white);
}
.description {
    color: var(--color-white-opaque);
}

@media screen and (min-width: 56.25rem) {
    .container {
        width: min(100%, 75rem);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr auto;
    }

    .card--1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .card--2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        background-color: var(--color-very-dark-grayish-blue);
    }

    .card--3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: var(--color-white);
        color: var(--color-very-dark-grayish-blue);
    }

    .card--4 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        background-color: var(--color-very-dark-blackish-blue);
        color: var(--color-very-dark-grayish-blue);
    }

    .card--5 {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
        background-color: var(--color-white-opaque);
        color: var(--color-very-dark-grayish-blue);
    }

    footer {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
}



